header {
	text-align: center;
}

article {
	text-align: justify;
}

article ul {
	list-style-type: none;
}
article ul li {
	font-style: italic;
}
@media-screen and (max-width: 400px ) {
	header p {
		display: none;
	}
}